In [15]:
# loading data sets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import glob

path = r'C:/Users/omjee/Documents/Data Science/Keith_sales analysis/SalesAnalysis/Sales_Data' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename)
    li.append(df)

df_all = pd.concat(li, axis=0, ignore_index=True)
#Saving all data as csv
#df_all.to_csv('C:/Users/omjee/Documents/Data Science/Keith_sales analysis/SalesAnalysis/Sales_Data/all.csv', index=False)

In [26]:
all_mon = pd.read_csv('C:/Users/omjee/Documents/Data Science/Keith_sales analysis/SalesAnalysis/Sales_Data/all.csv')
all_mon.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [27]:
all_mon.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [28]:
#Drop missing values
all_mon.dropna(axis=0, inplace=True)

In [29]:
all_mon.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

#### Which month has made the best sales and how much?

In [21]:
# Create Month column
all_mon['Month'] = pd.to_datetime(all_mon['Order Date'])

ParserError: Unknown string format: Order Date